<div id="mySidenav sidenav" [class]="navbarClass">   
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

    <div *ngFor="let t of currentThemes">
        <div>
            <input type="checkbox" id="{{ t.name }}" name="{{ t.name }}" (click)='checkEntity(t)'>
            <label for="{{ t.name }}">{{ t.name }}</label>
        </div>
        <div *ngIf="t['is_checked']">
            <div *ngFor="let c of t.categories">
                <input type="checkbox" id="{{ c.name }}" name="{{ c.name }}" (click)='checkEntity(c)'>
                <label for="{{ c.name }}">{{ c.name }}</label>
            </div>
        </div>
    </div>
</div>

<span (click)="openNav()">open</span>

<div *ngFor="let f of currentFavorites">
    <a href="{{ f.url }}">
        <h3>{{ f.title }}</h3>
    </a>
    <div>
        Description : {{ f.description }}
    </div>
    <div>
        Date : {{ f.publication_date }}
    </div>
</div>